body{ 
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Architects Daughter', cursive;
    cursor: pointer;
    font-size: larger;
    margin: 0 auto;
    padding: 10px;
}


.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexbox-item {
    align-items: center;
}


a{
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
}

.header{
    justify-content: center;
    align-items: center;
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes header{
    0%{
        transform: translateY(-200px);
    }
    
    25%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(10px);
    }
}

  .firstphoto {
      display: flex;
      justify-content: center;
      justify-items: center;
  }

  .nav{
    justify-content: center;
    justify-items: center;

  }


  ul#navbar {
    list-style-type: none;
background-color: #6D2E46;
width: 100%;
text-align: center;
  }
  

  ul#navbar li {
    display: inline-block;
    
  }

  ul#navbar li a {
    display: block;
    text-decoration: none;
    color: #EDEEC9;
    padding: 20px;
    font-size: 1.2em;
    transition: all 0.5s ease;
  }


  ul#navbar li a:hover {
    background: #77BFA3;
    color: #6D2E46;
  }

  @media (max-width: 480px) 
  {
    ul#navbar {
      padding-left: 0;
    }

    ul#navbar li {
      display: block;
    }

    ul#navbar li a {
      display: block;
      text-align: center;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
  }

  @media (min-width: 481px) and (max-width: 799px)
  {
    ul#navbar {
      padding-left: 0;
    }
    ul#navbar li {
      display: block;
    }
    ul#navbar li a {
      display: block;
      text-align: center;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
  }

  @media (min-width: 800px) and (max-width: 991px) 
  {
    ul#navbar {
      padding-left: 25%;
    }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}