body { 
background-image: url(images/background.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Architects Daughter', cursive;
cursor: pointer;
font-size: larger;
margin: 0 auto;
padding: 10px;
}

.flexbox-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.flexbox-item {
align-items: center;
}

.delivery {
  justify-content: flex-end;

}

img {
  filter:drop-shadow(8px 8px 10px rgb(88, 88, 88));
}

img#tony {
  filter:contrast(200%);
}

a {
text-decoration: none;
}

a:link {
color: #e9e9eb ;
}

a:visited {
color: #daa8a7 ;
font-size: medium;

}

a:hover {
opacity: 0.6;
font-size: x-large;
}

a:active {
color: #f2b4a7 ;
font-size: x-small;
}

h4::selection{
  background-color: black;
  color: white;
}

a::first-letter{
  font-size: xx-large;
}


.header {
justify-content: center;
align-items: center;
animation-name: header;
animation-duration: 5s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-delay: 1s;
}

@keyframes header{
0%{
 transform: translateY(-209px);
    }
    
25%{
 transform: translateY(-50px);
    }

50%{
transform: translateY(20px);
    }

75%{
   transform: translateY(60px);
    }

100%{
transform: translateY(20px);
 }
}

  .firstphoto {
display: flex;
justify-content: center;
justify-items: center;
  }

.nav{
justify-content: center;
justify-items: center;
  }


ul#navbar {
list-style-type: none;
background-color: #6c2e45;
width: 100%;
text-align: center;
}
  
ul#navbar li {
display: inline-block;
}

ul#navbar li a {
display: block;
text-decoration: none;
 padding: 18px;
font-size: 1.2em;
transition: all 0.5s ease;
  }


  @media (max-width: 480px) 
  {
    ul#navbar {
      padding-left: 0;
      text-align: center;

    }

    ul#navbar li {
      display: block;
      text-align: center;

    }

    ul#navbar li a {
      display: block;
      text-align: center;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
  }

  @media (min-width: 481px) and (max-width: 799px)
  {
    ul#navbar {
      padding-left: 0;
      text-align: center;

    }
    ul#navbar li {
      display: block;
      text-align: center;

    }
    ul#navbar li a {
      display: block;
      text-align: center;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
  }

  @media (min-width: 800px) and (max-width: 1000px) 
  {
    ul#navbar {
      padding-left: 25%;
      text-align: center;

    }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

